.pokemon.grass, .modal.grass {
  background-color: #46d1b2;
}

.pokemon.fire, .modal.fire {
  background-color: #fb6c6c;
}

.pokemon.water, .modal.water {
  background-color: #77befe;
}

.pokemon.normal, .modal.normal {
  background-color: #d3bf64;
}

.pokemon.electric, .modal.electric {
  background-color: #ffdc7d;
}

.pokemon.ice, .modal.ice {
  background-color: #61e3e6;
}

.pokemon.ground, .modal.ground {
  background-color: #e1b967;
}

.pokemon.flying, .modal.flying {
  background-color: #a080e9;
}

.pokemon.poison, .modal.poison {
  background-color: #c44cd4;
}

.pokemon.fighting, .modal.fighting {
  background-color: #f35d2f;
}

.pokemon.psychic, .modal.psychic {
  background-color: #fc7496;
}

.pokemon.dark, .modal.dark {
  background-color: #685041;
}

.pokemon.rock, .modal.rock {
  background-color: #e0c556;
}

.pokemon.bug, .modal.bug {
  background-color: #9fb134;
}

.pokemon.ghost, .modal.ghost {
  background-color: #8f65dd;
}

.pokemon.steel, .modal.steel {
  background-color: #a3a0b8;
}

.pokemon.dragon, .modal.dragon {
  background-color: #7059f3;
}

.pokemon.fairy, .modal.fairy {
  background-color: #f19ab7;
}